*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first-part{
    padding: 0px 15px;
    background: #DD4F050D;
    border-bottom: solid 1px #dd4f05;
}
.Notice{
    padding: 25px 0px;
    line-height: 1.5em;
    width: 85%;
    margin: auto;
}
.Notice strong{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 6px;
    color: #dd4f05;
}
.Notice p{
    font-size: 19px;
    color: #696f73;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/* -------HEADER 1----- */
.header-1{
    position: relative;
    display: flex;
}
.header-1 ul #naija a{
    text-decoration: none;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, .85);
    border-radius: 1rem;
}

.header-1 ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding-left: 5.8em;
    width: 65%;
    height: 8vh;
    background: #dd4f05;
}
.header-1 ul li{
    padding: 10px 15px 0px 17px;
    padding-bottom: 1em;
    text-align: center;
}
.header-1 ul li a{
    color: #FAE5DA;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-1 ul li ul{
    display: block;
    display: none;
    background-color: #FFFFFFBA;
    width: 13rem !important;
    position: absolute;
    /* visibility: hidden; */
    z-index: 1;
    transition: all  ease-out;
}
.header-1 ul .locate:hover ul{
    display: block;
}
.skew-me{
    position: absolute;
    width: 15rem;
    top: 0;
    left: 650px;
    z-index: -1;
    transform: skewX(-27deg);
    background: #ab3d04;
    transition: all .2s ease-in-out;
}

.LOGIN{
    width: 15rem;
    z-index: 1;
    background: #ab3d04;
    transition: all .2s ease-in-out;
}

.LOGIN .login-text{
   transform: skew(23deg);
}


.login a{
    color: #fae5da;
    font-weight: 500;
    font-size: 13px;
}

.middle{
    position: absolute;
    right: 130px;
    top: 170px;
}

/* -------HEADER TWO------ */
.header-2 .fa-solid {
    float: right;
}

.header-2 {
    position: relative;
}

.header-2 .dropdownmenu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 88%;
    margin: auto;
    position: relative;
}

.header-2 .dropdownmenu li {
    padding: 17px 9px 0px;
}

.header-2 .dropdownmenu li a {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 9px 21px;
    color: #424A52;
    text-decoration: none;
    font-weight: 600;
}

.dropdownmenu ul,
.dropdownmenu li {
    margin: 0;
    padding: 0;
}

.dropdownmenu ul {
    list-style: none;
    width: 100%;
}

.dropdownmenu li {
    text-decoration: none;
}

.dropp1 {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.drop1-btnss .dropp1 ul {
    width: 30%;
    background: #fff;
    min-height: 100%;
    padding: 27px 0 37px;
    transition: all .2s ease-in-out;
}
.drop1-btnss .dropp1 ul li{
    padding-left: 20px;
    padding-right: 25px;
}

.drop1-btnss .dropp1 ul li a {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    display: block;
    color: #424a52;
    border-bottom: none;
    border-bottom: thin solid rgba(0, 0, 0, 0.178);
}

.Account {
    display: none;
}

.dropp1 .Account1 ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .Account1:hover .Account {
    display: block;
}

.service {
    display: none;
}

.dropp1 .service ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .Service:hover .service {
    display: block;
}

.card-sub {
    display: none;
}

.dropp1 .card-sub ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .card1-sub:hover .card-sub {
    display: block;
}

.loan-submenu {
    display: none;
}

.dropp1 .loan-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .Loans:hover .loan-submenu {
    display: block;
}

.ways-submenu {
    display: none;
}

.dropp1 .ways-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .Ways:hover .ways-submenu {
    display: block;
}

.private-submenu {
    display: none;
}

.dropp1 .private-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.dropp1 .Private:hover .private-submenu {
    display: block;
}

.account-sub-menu {
    display: none;
}

.dropp1 .Account1 .Account .personal-subme1 .account-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Account1 .Account .personal-subme1:hover .account-sub-menu {
    display: block;
}

.saving-sub-menu {
    display: none;
}

.dropp1 .Account1 .Account .Savings-subme .saving-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Account1 .Account .Savings-subme:hover .saving-sub-menu {
    display: block;
}

.banking-sub-menu {
    display: none;
}

.dropp1 .Service .service .e-Banking-subme .banking-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Service .service .e-Banking-subme:hover .banking-sub-menu {
    display: block;
}

.IMT-sub-menu {
    display: none;
}

.dropp1 .Service .service .IMT-subme .IMT-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}
.dropp1 .Service .service .IMT-subme:hover .IMT-sub-menu {
    display: block;
}

.other-sub-menu {
    display: none;
}

.dropp1 .Service .service .other-subme .other-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Service .service .other-subme:hover .other-sub-menu {
    display: block;
}

.naira-sub-menu {
    display: none;
}

.dropp1 .card1-sub .card-sub .naira-subme .naira-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .card1-sub .card-sub .naira-subme:hover .naira-sub-menu {
    display: block;
}

.dollardebit-sub-menu {
    display: none;
}

.dropp1 .card1-sub .card-sub .dollardebit-subme .dollardebit-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .card1-sub .card-sub .dollardebit-subme:hover .dollardebit-sub-menu {
    display: block;
}

.dollarcredit-sub-menu {
    display: none;
}

.dropp1 .card1-sub .card-sub .dollarcredit-subme .dollarcredit-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .card1-sub .card-sub .dollarcredit-subme:hover .dollarcredit-sub-menu {
    display: block;
}

.prepaid-sub-menu {
    display: none;
}

.dropp1 .card1-sub .card-sub .prepaid-subme .prepaid-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .card1-sub .card-sub .prepaid-subme:hover .prepaid-sub-menu {
    display: block;
}

.deals-sub-menu {
    display: none;
}

.dropp1 .card1-sub .card-sub .deals-subme .deals-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .card1-sub .card-sub .deals-subme:hover .deals-sub-menu {
    display: block;
}

.tailored-sub-menu {
    display: none;
}

.dropp1 .Private .private-submenu .tailored-subme .tailored-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Private .private-submenu .tailored-subme:hover .tailored-sub-menu {
    display: block;
}

.premium-sub-menu {
    display: none;
}

.dropp1 .Private .private-submenu .premium-subme .premium-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropp1 .Private .private-submenu .premium-subme:hover .premium-sub-menu {
    display: block;
}

/* --------BUSINESS----- */

.drop2 {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.drop2-btnss .drop2 ul {
    width: 30%;
    background: #fff;
    min-height: 100%;
    padding: 27px 0 37px;
    transition: all .2s ease-in-out;
}

.drop2-btnss .drop2 ul li{
    padding-left: 20px;
    padding-right: 25px;
}

.drop2-btnss .drop2 ul li a {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    display: block;
    color: #424a52;
    /* border-bottom: none !important; */
    border-bottom: thin solid rgba(0, 0, 0, 0.178);
}

.account2-submenu {
    display: none;
}

.drop2 .account2-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop2 .account2:hover .account2-submenu {
    display: block;
}

.SME-submenu {
    display: none;
}

.drop2 .SME-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop2 .SME:hover .SME-submenu {
    display: block;
}

.international-submenu {
    display: none;
}

.drop2 .international-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop2 .international:hover .international-submenu {
    display: block;
}

.cards-submenu {
    display: none;
}

.drop2 .cards-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop2 .Cards:hover .cards-submenu {
    display: block;
}

.services-submenu {
    display: none;
}

.drop2 .services-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop2 .Services:hover .services-submenu {
    display: block;
}

.SME-sub-menu {
    display: none;
}

.drop2 .SME .SME-submenu .SME-subme .SME-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .SME .SME-submenu .SME-subme:hover .SME-sub-menu {
    display: block;
}

.advance-sub-menu {
    display: none;
}

.drop2 .SME .SME-submenu .advance-subme .advance-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .SME .SME-submenu .advance-subme:hover .advance-sub-menu {
    display: block;
}

.e-business-sub-menu {
    display: none;
}

.drop2 .SME .SME-submenu .e-business-subme .e-business-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .SME .SME-submenu .e-business-subme:hover .e-business-sub-menu {
    display: block;
}

.e-commerce-sub-menu {
    display: none;
}

.drop2 .SME .SME-submenu .e-commerce-subme .e-commerce-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .SME .SME-submenu .e-commerce-subme:hover .e-commerce-sub-menu {
    display: block;
}

.import-sub-menu {
    display: none;
}

.drop2 .international .international-submenu .import-subme .import-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .international .international-submenu .import-subme:hover .import-sub-menu {
    display: block;
}

.international-sub-menu {
    display: none;
}

.drop2 .international .international-submenu .international-subme .international-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .international .international-submenu .international-subme:hover .international-sub-menu {
    display: block;
}

.services-sub-menu {
    display: none;
}

.drop2 .Services .services-submenu .services-subme .services-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .Services .services-submenu .services-subme:hover .services-sub-menu {
    display: block;
}

.other22-sub-menu {
    display: none;
}

.drop2 .Services .services-submenu .other22-subme .other22-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop2 .Services .services-submenu .other22-subme:hover .other22-sub-menu {
    display: block;
}

/* -------ABOUT US----- */
.drop3 {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.drop3-btnss .drop3 ul {
    width: 30%;
    background: #fff;
    min-height: 100%;
    padding: 27px 0 37px;
    transition: all .2s ease-in-out;
}

.drop3-btnss .drop3 ul li{
    padding-left: 20px;
    padding-right: 25px;
}

.drop3-btnss .drop3 ul li{
    padding-left: 20px;
    padding-right: 25px;
}

.drop3-btnss .drop3 ul li a {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    display: block;
    color: #424a52;
    /* border-bottom: none !important; */
    border-bottom: thin solid rgba(0, 0, 0, 0.178);
}

.aboutus-submenu {
    display: none;
}

.drop3 .aboutus-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop3 .aboutus:hover .aboutus-submenu {
    display: block;
}

.careers-submenu {
    display: none;
}

.drop3 .careers-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop3 .careers:hover .careers-submenu {
    display: block;
}

.corporative-submenu {
    display: none;
}

.drop3 .corporative-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop3 .Corporative:hover .corporative-submenu {
    display: block;
}

.careers-sub-menu {
    display: none;
}

.drop3 .careers .careers-submenu .careers-subme .careers-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop3 .careers .careers-submenu .careers-subme:hover .careers-sub-menu {
    display: block;
}

.community-sub-menu {
    display: none;
}

.drop3 .Corporative .corporative-submenu .community-subme .community-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop3 .Corporative .corporative-submenu .community-subme:hover .community-sub-menu {
    display: block;
}

.education-sub-menu {
    display: none;
}

.drop3 .Corporative .corporative-submenu .education-subme .education-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop3 .Corporative .corporative-submenu .education-subme:hover .education-sub-menu {
    display: block;
}

.environment-sub-menu {
    display: none;
}

.drop3 .Corporative .corporative-submenu .environment-subme .environment-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop3 .Corporative .corporative-submenu .environment-subme:hover .environment-sub-menu {
    display: block;
}

.art-sub-menu {
    display: none;
}

.drop3 .Corporative .corporative-submenu .art-subme .art-sub-menu ul {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

.drop3 .Corporative .corporative-submenu .art-subme:hover .art-sub-menu {
    display: block;
}




/* -----INVESTOR RELATIONS---- */
.drop4 {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.drop4-btnss .drop4 ul {
    width: 30%;
    background: #fff;
    min-height: 100%;
    padding: 27px 0 37px;
    transition: all .2s ease-in-out;
}

.drop4-btnss .drop4 ul li{
    padding-left: 20px;
    padding-right: 25px;
}

.drop4-btnss .drop4 ul li a {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    display: block;
    color: #424a52;
    /* border-bottom: none !important; */
    border-bottom: thin solid rgba(0, 0, 0, 0.178);
}

.information-submenu {
    display: none;
}

.drop4 .information-submenu ul {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: whitesmoke;
}

.drop4 .information:hover .information-submenu {
    display: block;
}


.header-2 .dropdownmenu li a:hover {
    color: #dd4f05;
    /* border-bottom: solid #dd4f05; */
}

.dropdownmenu .drop1-btnss:hover .dropp1 {
    display: block;
    background: #f7f8f8;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 150%;
    left: 0;
    width: 77.5%;
    height: 130vh;
}

.dropdownmenu .drop2-btnss:hover .drop2 {
    display: block;
    background: #f7f8f8;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 150%;
    left: 0;
    width: 77.5%;
    height: 105vh;
}

.dropdownmenu .drop3-btnss:hover .drop3 {
    display: block;
    background: #f7f8f8;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 150%;
    left: 0;
    width: 77.5%;
    height: 100vh;
}

.dropdownmenu .drop4-btnss:hover .drop4 {
    display: block;
    background: #f7f8f8;
    border: 1px solid #e0e1e2;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .15);
    transition: all .2s ease-in-out;
    position: absolute;
    top: 150%;
    left: 0;
    width: 77.5%;
    height: 100vh;
}


/* ------HEADER 1 TWO LATER------ */
.header-1-later{
    position: relative;
    display: flex;
    width: 100%;
    height: 9vh;
    display: none;
}
.header-1-later ul #naija a{
    text-decoration: none;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, .85);
}
.header-1-later ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    width: 40%;
    padding: 0;
    height: 100%;
    background: #dd4f05;
}
.header-1-later ul li{
    padding: 10px 15px 0px 17px;
    padding-bottom: 1em;
    text-align: center;
}
.header-1-later a{
    color: #FAE5DA;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-1-later ul li ul{
    display: block;
    display: none;
    background-color: #FFFFFFBA;
    width: 13rem !important;
    position: absolute;
    z-index: 1;
    transition: all  ease-out;
}
.header-1-later ul .locate:hover ul{
    display: block;
}
.LOGIN-2 .login-text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LOGIN-2 .skew-me{
    position: absolute;
    width: 10rem;
    top: 0;
    left: 528px;
    z-index: -1;
    transform: skewX(-27deg);
    background: #ab3d04;
    transition: all .2s ease-in-out;
}
.LOGIN-2{
    width: 15rem;
    z-index: 1;
    transition: all .2s ease-in-out;
}
.LOGIN-2 .login-text{
   transform: skew(23deg);
}
.LOGIN-2 .login{
    padding: 10px 15px 0px 17px;
    padding-bottom: 1em;
    text-align: center;
}
.LOGIN-2 .login a{
    color: #fae5da;
    font-weight: 500;
    font-size: 13px;
}


/* -------MEDIA CENTRE----- */

.Media{
    margin-top: 2em;
    background: #F7F8F8;
    padding: 24px 0px 36px;
}
ol{
    margin: 0px 75px;
    padding: 0px 30px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
ol a{
    text-decoration: none;
    color: #424A52;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
ol li{
    color: #6C757D;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Media ol a:hover{
    color: #DD4F05;
}

/* -------Next---- */
.media-centre{
    background: #F7F8F8;
    padding: 0px 0px 63px;
}
.background-img{
    margin: 0px 105px;
    padding: 0px 15px;
    background-image: url(../IMAGES/Artboard5.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 36px;
}
.media-banner{
    background: #FFFFFFE6;
    margin: 0px 15px;
    width: 45%;
    height: 90%;
}
.paddme{
    padding: 30px 36px;
}
.media-banner h1{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 6px 0px 13px;
    color: #424A52;
    font-weight: 450;
}
.media-banner h3{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dd4f05;
    margin: 0px 0px 10px;
}
.media-banner p{
    color: #696f73;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------PART TWO MEDIA CENTRE---- */
.media-banner2{
    margin: 0px 15px;
    width: 45%;
    height: 90%;
    display: none;
}
.paddme2{
    padding: 30px 36px;
}
.media-banner2 h1{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 6px 0px 13px;
    color: #424A52;
    font-weight: 450;
}
.media-banner2 h3{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dd4f05;
    margin: 0px 0px 10px;
}
.media-banner2 p{
    color: #696f73;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------PAGE-SECTION---- */
.section-page{
    padding: 72px 100px;
    display: flex;
}
.left{
    padding: 0px 15px;
}
.right{
    padding: 0px 15px;
    margin: 0px 0px 0px 42.4219px;
}
.content{
    padding: 11px 0px 48px;
    border-bottom: 1px solid #e0e1e2;
}
.left h2{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 16px;
    color: #424A52;
}
.content span{
    color: #a2a5a8;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.content a{
    display: block;
    color: #424A52;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0px 0px;
    text-decoration: none;
}
.anchor a{
    box-shadow: 5px 5px 17px #b1b1b1,
    -5px -5px 17px #ffffff;
    background: #DD4F05;
    text-decoration: none;
    padding: 10px 24px 12px 26px;
    color: #FFFF;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.anchor{
    margin-top: 4em;
}
.right{
    margin: 0px 0px 0px 43px;
    padding: 0px 15px;
}
.up{
    padding: 32px 0px 0px 16px;
}
.up p{
    color: #424A52;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 24px;
    font-weight: 700;
}

.up a{
    text-decoration: none;
    display: block;
    color: #696f73;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.5em;
}
.down{
    margin: 0px 0px 5px;
    padding: 32px 0px 31px 16px;
}
.down1 p{
    color: #424A52;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 24px;
}
.down1 a{
    text-decoration: none;
    color: #696f73;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar-footer{
    margin: 16px 0px 0px;
}
.sidebar-footer a{
    display: block;
    text-decoration: none;
    color: #dd4f05;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left .content a:hover{
    color: #DD4F05;
}
.up a:hover{
    color: #DD4F05;
}
.down1 a:hover{
    color: #DD4F05;
}


/* -----TABLET SCREEN----- */
.displaylater{
    display: none;
}
.displaylater-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}
.dis-tablet{
    padding: 32px 0px 10px;
}
.dis-tablet a{
    text-decoration: none;
    color: #FFF;
    background: #DD4F05;
    padding: 10px 22px 15px 15px;
    margin: 0px 7px 0px 1px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
}

/* ------ACCORDION SECTION---- */
.accordion-body ul{
    list-style: none;
    background: #F7F8F8;
    padding: 15px 10px;
}
.accordion-body ul li{
    margin: 0px 0px 11.2px;
}
.accordion-body ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #74797F;
}
.accodion{
    display: none;
}

/* ------FOOTER2 SECTION----- */
.helpmeooo{
    display: flex;
    width: 83%;
    margin: auto;
    padding: 53px 0px 42px;
    justify-content: space-between;
}
.helpmeooo div{
    flex: 0 0 20%;
    max-width: 20%;
}
.helpmeooo div h5{
    margin: 0px 0px 16px;
}
.helpmeooo div h5 a{
    text-decoration: none;
    color: #424A52;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.helpmeooo div ul{
    list-style: none;
}
.helpmeooo div ul li{
    margin: 0px 0px 11.2px;
}
.helpmeooo div ul li a{
    text-decoration: none;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #74797F;
}

/* -----ACCODION-2----SECTION */
.accordion-2{
    display: none;
}
/* ------FOOTER3 SECTION----- */
.footer3-2{
    width: 83%;
    margin: auto;
    border-top: 1px solid #e0e1e2;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 0px;
}
.footer3-2-1-2 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer3-2-1-2 ul li{
    margin: 12.8px 0px 0px;
    padding: 0px 16px;
}
.footer3-2-1-2 ul li a{
    color: #7F8389;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

/* -------GRID SECTION---- */
.grid-section{
    padding: 80px 0px;
    background-color: whitesmoke;
    margin-bottom: 5em;
}
.grid h2{
    color: #424A52;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 30px;
}
.grid{
    padding: 0px 15px;
    max-width: 1146px;
    margin: auto;
}
.grids{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
}
.grids a{
    border-radius: 3px;
    background: #FFF;
    box-shadow:  15px 15px 30px #c3c3c3,
             -15px -15px 30px #fdfdfd;
    
}
.grids a{
    text-decoration: none;
    padding: 25px;
}
.grids a h3{ 
    color: #74797e;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
}

/* ---------FOOTER LAST------ */

.footer-last{
    padding: 28.8px 0px 48px;
    background: #434A51;
    margin-top: 3em;
}
.footer1{
    margin: 0px 60px;
    display: flex;
}
.footer1-2{
    display: flex;
    align-items: center;
    margin: 0px 50px 0px;
}
.footer1 p{
    font-size: 13px;
    color: #E1E2E3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    display: flex;
}
.footer1 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
.footer1 ul li{
    padding: 0px 12.8px 0px 0px;
    list-style: none;
}
.footer1-2 ul li a{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E1E2E3;
    text-decoration: none;
}
/* ------SVG SECTION----- */
.svg-s{
    width: 83%;
    margin: auto;
}
svg{
    width:50px;
    height: 50px;
    background: #E0E1E2;
    padding: 10px;
    border-radius: 50%;
}
.svg-s ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.svg-s ul li a{
    text-align: center;
    text-decoration: none;
}
.svg-s ul li a p{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #686E72;
}
.svg-s ul li a:hover svg{
    background-color: rgba(255, 68, 0, 0.877);
}
.helpmeooo li:hover a{
    color: #DD4F05;
}
.header-2 .dropdownmenu .borderme:hover{
    border-bottom: solid #dd4f05;
}

/* --------GRID SECTION------ */
.allcards{
    width: 70em;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(8, 1fr);
    overflow-x: auto;
    margin-bottom: 2em;
}
.allcards .crds{
    border-radius: 10px;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  5px 5px 13px #cccccc,
                 -5px -5px 13px #f4f4f4;
    background-color: white;
    margin: 10px 0px;
    width: 10em;
    padding: 30px 20px 25px;
    cursor: pointer;

}
.allcards .crds a{
    text-decoration: none;
    color: #424A52;
    align-content: center;
}
.allcards .crds a p{
    text-align: center;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.allcards .crds a svg{
    /* border: solid red; */
    background: none;
    color: #dd4f05;
}
.h6-me .allcards .crds:hover a{
    color: #DD4F05;
}
#accordionFlushExample  .crds a {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #424A52;
    margin: 0px 10px;
}
#accordionFlushExample svg{
    background: none;
    color: #dd4f05;
    margin-right: 2em;
}
#accordionFlushExample{
    margin-bottom: 2em;
    padding: 50px 0px;
    background-color: whitesmoke;
    display: none;
}
.accordion-item h2{
    margin: 0px 10px;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  5px 5px 13px #cccccc,
                 -5px -5px 13px #f4f4f4;
}
.accordion-item p{
    font-size: 18px;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.h6-me h6{
    color: #424A52;
    font-size: 18px;
    margin: 0px 0px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 85%;
    margin: auto;
    font-weight: 700;
}
.h6-me{
    margin-top: 2em;
}




/* --------MEDIA QUERY----- */
@media(max-width:1280px) {
    .Notice{
        width: 100%;
    }
    .header-1 ul{
        width: 70%;
        padding: 0;
    }
    .middle{
        position: absolute;
        right: 0;
        top: 170px;
    }
    .section-page{
        padding: 0;
    }
    .media-banner{
        width: 50%;
    }
    .background-img{
        margin: 0px 4em;
    }
    
    .grid-section{
        overflow-x: auto;
    }
    .header-2 .dropdownmenu{
        width: 100%;
        padding: 0;
    }
    .Media ol{
        margin: 0;
        width: 100%;
    }
}

@media(max-width:1120px){
    /* -----HELPMEOO---- */
    .helpmeooo{
        width: 100%;
    }

    .footer1{
        margin: none;
        width: 100%;
        display: block;
    }
    .svg-s{
        margin: none;
        width: 100%;
    }
    .header-1 ul{
        width: 80%;
    }
    .media-banner{
        width: 70%;
    }
    .background-img{
        margin: 0px 1em;
    }
    .skew-me{
        position: absolute;
        top: 0;
        left: 600px;
        height: 80%;
    }
    .allcards{
        width: 90%;
    }
    .h6-me h6{
        width: 100%;
        padding: 20px;
    }
}

@media(max-width:1000px){
    .header-1{
        display: none;
    }
    .header-1-later{
        display: block;
        width: 95%;
    }
    .header-1-later ul{
        width: 75%;
    }
 
}
@media(max-width:991px){
    .header-1-later ul{
        width: 70%;
    }
    .header-1-later .skew-me{
        position: absolute;
        top: 0;
        left: 540px;
    }
}

@media(max-width:768px){
    .helpmeooo{
        display: none;
    }
    .accodion{
        display: block;
        width: 100%;
    }
    .footer3{
        display: none;
    }

    .accordion-2{
        display: block;
        width: 100%;
    }

    .svgs{
        display: none;
    }
    .displaylater{
        display: block;
    }

    .header-1{
        display: none;
    }
    .middle{
        display: none;
    }
    .header-2{
        display: none;
    }

    .right{
        display: none;
    }
    .background-img{
        height: 30vh;
    }
    .media-banner{
        display: none;
    }
    .media-banner2{
        display: block;
        width: 100%;
    }
    .Media ol{
        margin: 0;
    }
    
    .header-1-later{
        display: none;
    }
    .h6-me{
        display: none;
    }
    #accordionFlushExample{
        display: block;
    }
}